In [13]:
import os
import pandas as pd

In [14]:
path = "../data/photometry_analog/"

### Photometry data

In [26]:
photometry_data = pd.DataFrame()
for foldername in os.listdir(path):
    if foldername != ".DS_Store":
        folderpath = os.path.join(path, foldername)
        for subfoldername in os.listdir(folderpath):
            subfolderpath = os.path.join(folderpath, subfoldername)
            if subfoldername != ".DS_Store":
                for filename in os.listdir(subfolderpath):
                    if "photometry" in filename:
                        characteristics = filename.split("-")
                        subject = characteristics[0].strip()
                        threshold = int(characteristics[1].strip())
                        day = characteristics[2].strip()
                        content = pd.read_csv(open(os.path.join(subfolderpath, filename)), sep = " ", index_col = False)
                        content["subject"] = subject
                        content["threshold"] = threshold
                        content["day"] = day
                        photometry_data = pd.concat([photometry_data, content])

In [27]:
len(photometry_data)

17162050

In [38]:
len(photometry_data.drop_duplicates())

17162050

In [44]:
photometry_data.head()

,Item6.Timestamp.TimeOfDay.TotalMilliseconds,Item4.Timestamp.TimeOfDay.TotalMilliseconds,Item5.Val0,Item5.Val1,Item5.Val2,Item5.Val3,Item1,Item2,Item3,subject,threshold,day
0,56558704.30720,56558704.35840,17151,0,0,0,1240287559,3254780419,11654,3201,1600,1
1,56558728.85760,56558728.90880,31547,0,0,0,1241893183,3254780419,11655,3201,1600,1
2,56558753.84320,56558753.86880,16936,0,0,0,1242712359,3254780419,11656,3201,1600,1
3,56558778.85440,56558778.88000,31408,0,0,0,1243531521,3254780419,11657,3201,1600,1
4,56558803.84000,56558803.86560,17144,0,0,0,1244350605,3254780419,11658,3201,1600,1

In [42]:
photometry_data.to_csv("../data/photometry_analog/processed/photometry_data.csv", index=False)

### Analog data

In [29]:
analog_data = pd.DataFrame()
for foldername in os.listdir(path):
    if foldername != ".DS_Store":
        folderpath = os.path.join(path, foldername)
        for subfoldername in os.listdir(folderpath):
            subfolderpath = os.path.join(folderpath, subfoldername)
            if subfoldername != ".DS_Store":
                for filename in os.listdir(subfolderpath):
                    if "analog" in filename:
                        characteristics = filename.split("-")
                        subject = characteristics[0].strip()
                        threshold = int(characteristics[1].strip())
                        day = characteristics[2].strip()
                        content = pd.read_csv(open(os.path.join(subfolderpath, filename)), sep = " ", index_col = False)
                        content["subject"] = subject
                        content["threshold"] = threshold
                        content["day"] = day
                        analog_data = pd.concat([analog_data, content])

In [35]:
len(analog_data)

110242579

In [45]:
analog_data.head()

           Item6  Item1  Item2  Item3  Item4  Item5 subject  threshold day
0 53279905.57440      0      0      0      0      0    3202        800   3
1 53279909.56800      0      0      0      0      0    3202        800   3
2 53279909.59360      0      0      0      0      0    3202        800   3
3 53279913.68960      0      0      0      0      0    3202        800   3
4 53279917.82400      0      1      0      0      0    3202        800   3

In [40]:
analog_data = analog_data.drop_duplicates()

In [41]:
analog_data.to_csv("../data/photometry_analog/processed/analog_data.csv", index=False)